<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Charles R. Tanner - {{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/media.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
	<script src="{{ site.baseurl}}/javascripts/jquery-2.1.4.min.js"></script>
	<script src="{{ site.baseurl}}/javascripts/menu.js"></script>
</head>
