<header>
  <div class="header-content">
    <div class="title-wrap">
      <h1 class="home-title">
        <span class="title-tagline">The Writings of</span>
        <span class="title-name">Charles R. Tanner</span>
      </h1>
    </div>
  </div>
 
  <i class="menu-icon"></i>
 
  <ul class="menu">
    <li><a href="/"class="menu-item">About</a></li>
    <li><a class="menu-item published">Published stories</a></li>
    <li><a class="menu-item unpublished">Unpublished stories</a></li>
    <li><a href="contact" class="menu-item">Contact</a></li>
  </ul>

  <ul class="published-menu">
    <i class="back-icon"></i>
    {% for post in site.categories.published reversed %}
      <li><a class="menu-item" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <ul class="unpublished-menu">
    <i class="back-icon"></i>
  </ul>
</header>

